* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #dee2e6;
}

::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
}

@media only screen and (max-width: 350px) {
  form {
    flex-direction: column;
  }  
  form .col-8 {
    width: 100%;
    margin-bottom: 10px;
  }
  form .col-4 {
    width: 100%;
  }
}